.medical-table {
    border-collapse: collapse;
    background-color: #EDF1D6;
    margin-top: 20px;
    margin: 0 auto;
}
  
  .medical-table th,
  .medical-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid black;
    color: black;
  }
  
  .medical-table th {
    background-color: #EDF1D6;
    color: black;
  }

  .medical-form-table tr:hover {
    background-color: #EDF1D6;
    color: black;
  }
  
  .medical-form-table .approved {
    color: green;
  }
  
  .medical-form-table .rejected {
    color: red;
  }
  