.ViewCourses {
  text-align: center;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Course {
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Course h2 {
  margin-top: 0;
}

.Course p {
  text-align: center;
  margin-bottom: 0;
}