.tablef {
    margin-left: 250px;
    max-width: 70%;
    border-collapse: collapse;
    width: 70%;
  }

  a{
    text-decoration: none;
  }
  
  th,
  td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }
  
  tr:nth-child {
    background-color: white;
  }
