{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testing MongoDB</title>
    <script src="{% static 'index.js' %}"></script>
    <script src="{% static 'jquery_lib.js' %}"></script>
</head>
<body>
{% for detail in data %}
<p> -------------------------------------------------------<br>
    Account id: {{detail.account_id}}, Limit: {{detail.limit}},
    Products: {% for product in detail.products %} {{product}} {% endfor %}
</p>
{% endfor %}
<form>
    Account id: <input type="number" id="acid"> Limit: <input type="number" id="limit"> <br>
</form>
<button type="button" id="submitbutton">submit</button>
</body>
<script>
    $('#submitbutton').click(function () {
        $.ajax({
            url: "{% url 'add_entry' %}",
            method: "GET",
            data: {'account_id': document.getElementById('acid').value, 'limit': document.getElementById('limit').value}
        })
    })
</script>
</html>