.coursecard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #D3FFF9;
    width: 600px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 0;
  }
  