body {
  background: #f7f7ff;

}

/* #9DC08B */

.custom-progress-bar {
  background-color: #C7D36F;
  border-radius: 10px;
  color: black;
  font-weight: bold;
}

.progress {
  height: 15px;
  background-color: #9DC08B;
}