body{
    background: #f7f7ff;

}

.custom-progress-bar1 {
    background-color: #177CC2;
  }
  
.custom-progress-bar2 {
background-color: #FF5733;
}

.custom-progress-bar3 {
background-color: #17C217 ;
}

.custom-progress-bar4 {
background-color: #C21727;
}

.custom-progress-bar5 {
background-color: #1727C2;
}

.custom-progress-bar6 {
background-color: #C2179E;
}






